#mismall {
    width: 100%;
    height: auto;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    margin-top: -18px;
}

#mainsld {

    width: 90%;
    /* margin-top: 200px; */

}

/* #slidermn {
    width: 800px !important;
} */

#hafdiv {
    width: 100%;
    height: auto;
    background-color: #e6e7e8;
    /* margin-top: 180px; */
    border-radius: 13px 13px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center
}

#hafdivtxt {
    color: black;
    margin-top: 5px;
}

#mindivm {
    width: 100%;
    height: auto;
    background-color: #1d67cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    margin-top: 10px;
}

.slidecrd {
    width: auto;
    height: auto;
    background-color: white;
    /* margin-left: 40px ; */
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 13px #1d67cd !important;
    margin-bottom: 10px;
    margin-top: 8px;
    margin-left: 8px;
    /* border-radius: 10px; */
}

.datme {
    font-size: small;
}

.datimmain {
    width: 170px;
    display: flex;
    justify-content: center;
}

.boximg {
    border-radius: 50px;
    box-shadow: 1px 0px 6px;
}

.icontxman {
    display: flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
}

.icnbx {
    width: 25px;
    height: 20px;
    margin-right: 7px;
}

.startRbtn {
    color: white;
    background-color: #003a96;
    font-size: x-small;
    font-weight: bold;
    border-radius: 15px;
    width: 100px;
    padding: 6px;
    margin-top: 7px;
    padding-left: 22px;
    border: solid 1px white;

}

.startRbtn:hover {
    background-color: red;
}


