.styleGrid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 30px;
}
.colspan3{
    grid-column: 1 / span 8;
}
.rightSide{
    grid-column:9 / span 4;
    margin-top: 20px;
   width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: #1d67cd;

}
.header{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: #e6e7e8;
}
.body{
    width: 100%;
   padding-top: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    gap: 15px;
 
    height: 520px;
}
.smCard{
    
    padding: 10px;
    border-radius: 15px;
    width: 267px;
    background: white;
}
.smCard .top{
    display: flex;
    align-items: center;
    gap: 20px;
}
.startRbtn2 {
    color: white;
    background-color: #003a96;
    font-size: x-small;
    font-weight: bold;
    border-radius: 15px;
    width: 100%;
    font-size: 12px;
    padding: 6px 15px;
    margin-top: 7px;
    
    border: solid 1px white;

}

.startRbtn2:hover {
    background-color: red;
}


@media only screen and (max-width: 768px) {
    .colspan3{
        grid-column: 1 / span 12;
    }
    .rightSide{
        grid-column:1 / span 12;
        margin-top: 20px;
       width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
        background: #1d67cd;
    
    }
  }
  .styleGrid1{
    display: none;

}
@media only screen and (max-width: 600px) {
    .styleGrid{
        display: none;
      
    }
  
    .styleGrid1{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        gap: 30px;
    }
  }