#mann{
    width: 330px;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
#topmainline{
    width: 350px;
    height: 30px;
    background-color: #003a96;
    display: flex;
    justify-content:space-evenly;
   
}
#toptextmain{
    color: white;
    font-size: small;
    font-weight: bold;
    margin-top: 5px;
}
#hmeimg{
    width: 80px;
    /* height: 60px; */
    height: 50px;
    margin-top: -10px;
}
#lnessmain{
    width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */

}
.lness{
    width: 300px;
    height: 47px;
    border: solid gray 2px;
    margin-top: 10px;
    display: flex;
    align-items: center !important;
}
.lnessimg{
    width: 25px;
    margin-top: 10px;
    margin-left: 15px;
}
.flafss{
    margin-top: 20px;
    margin-left:5px;
}
#mannn{
    width: 300px;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
#topmainlin{
    width: 280px;
    height: 30px;
    background-color: #003a96;
    display: flex;
    justify-content:space-evenly;
}