.MainCarsol {
    width: 80%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    /* margin-bottom: -40px; */
    margin-top: 200px !important;
}

.iconslide1 {
    width: 671px;
    height: 577px;
}

.iconslide2 {
    width: 972px;
    height: 549px;
}

.secondSlider {
    display: flex;
    align-items: center;

}

.slideteaxt {
    font-size: 52px;
    font-weight: 600;
    color: white;
    line-height: 50px;
    margin-bottom: 40px;
}

.secndtext {
    font-size: 24px;
    color: white;
}


.startbtn {
    margin-top: 30px;
    background-color: #003a96;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: solid white 1px;
    border-radius: 20px;
    padding: 10px 20px;
  
}

.startbtn:hover {
    background-color: red;
}




@media only screen and (max-width: 1100px) {
    .iconslide1 {
        width: 300px;
        height: 300px;
        margin-top: 100px;
    }

    .MainCarsol {
        width: 80%;
        display: flex !important;
        justify-content: space-between;
        align-items: center;

    }

    .slideteaxt {
        font-size: 32px;
        font-weight: 600;
        color: white;
        margin-top: 20px;
    }

    .secndtext {
        font-size: 17px;
        color: white;
        margin-top: -20px !important;
    }

    .startbtn {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 971px) {
    .iconslide1 {
        width: 170px;
        height: 170px;
        margin-top: 15px;
    }

    .MainCarsol {
        width: 80%;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }

    .slideteaxt {
        font-size: 20px;
        font-weight: 500;
        color: white;
        margin-left: -50px;
        margin-top: -30px;
    }

    .secndtext {
        font-size: 10px;
        color: white;
        margin-top: -40px !important;
        margin-left: -50px;

    }

    #slidetextID {
        margin-top: -90px !important;
        margin-left: 30px !important;
    }

    #secndtextID {
        margin-left: 40px !important;

    }

    .startbtn {
        margin-top: 10px;
        border-radius: 20px;
        width: 100px;
        height: 26px;
        font-size: x-small;
    }
}

@media only screen and (max-width: 680px) {
    .iconslide1 {
        width: 150px;
        height: 150px;
    }

    .MainCarsol {
        width: 80%;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        /* margin-bottom: -30px; */
    }

    .slideteaxt {
        font-size: 15px;
        font-weight: 400;
        color: white;
        margin-left: 20px;
        /* margin-top: 30px; */
    }

    .secndtext {
        font-size: 8px;
        color: white;
        margin-top: -30px;
        margin-left: 20px;

    }

    .startbtn {
        margin-top: 10px;
        border-radius: 20px;
        width: 90px;
        height: 20px;
        font-size: xx-small;

    }
}

/* @media only screen and (max-width: 580px) {

    .MainCarsol {
        width: 80%;
        display: flex !important;
        justify-content: space-between;
        align-items: center;

        margin-bottom: -30px;
    }

    .slideteaxt {
        font-size: 15px;
        font-weight: 300;
        color: white;

        margin-left: -50px;
        margin-top: 30px;
    }

    .secndtext {
        font-size: 5px;

        color: white;
        margin-top: -30px;
    }
} */

@media only screen and (max-width: 498px) {
    .iconslide1 {
        width: 150px;
        height: 150px;
    }

    .MainCarsol {
        width: 80%;
        display: flex !important;
        justify-content: space-between;
        align-items: center;

    }

    .slideteaxt {
        font-size: 12px;
        font-weight: 300;
        color: white;
        /* margin-top: 30px; */
        margin-right: 20px;

    }

    .secndtext {
        font-size: 6px;
        color: white;
        margin-top: -20px;
        margin-right: 20px;

    }

    .startbtn {
        margin-top: 10px;
        border-radius: 20px;
        width: 70px;
        height: 15px;
        font-size: 5px;

    }
}

@media only screen and (max-width: 370px) {
    .iconslide1 {
        width: 130px;
        height: 130px;
        margin-right: 10px;
        margin-top: 60px;
    }

    .MainCarsol {
        width: 80%;
        display: flex !important;
        justify-content: space-between;
        align-items: center;

    }

    .slideteaxt {
        font-size: 11px;
        font-weight: 300;
        color: white;
        margin-top: -10px;
        margin-right: 20px;

    }

    .secndtext {
        font-size: 6px;
        color: white;
        /* margin-top: -20px; */
        margin-right: 20px;

    }

    .startbtn {
        margin-top: 10px;
        border-radius: 20px;
        width: 70px;
        height: 15px;
        font-size: 5px;

    }
}

.slideteaxt{
    position: relative;
    animation: mymove 1s  linear;
    animation-iteration-count: 1;
    
}

._item_img {
    height: 650px;
    background-position: cover;
    background-size: 100% 100% !important;
}
.iconslide3{
    width: 507px;
}
.iconslide4{
    width: 596px;
}
.slider3{
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 30px;
}
@keyframes mymove {
    from {
        
        left: -150px;
    }

    to {
        left: 0px;
    }
}

@media only screen and (max-width: 972px) {

    ._item_img {
        height: 40vh;
    }
}